.detailTitle {
  margin-top: 1rem;
  font-weight: 700;
}

.detailContainer {
  padding: 0.5rem;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.templateInfoContainer {
  line-height: 1.25rem;
}

.templateInfoTitle {
  font-weight: 700;
  margin: 0.25rem 0;
}
