.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.specTitle {
  font-weight: 700;
}

.specInputContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.specList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.spec {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.specValue::before,
.specValue::after {
  content: '"';
}

.uploadButton {
  align-self: start;
}
